NODE_ENV=production
PORT=5000

# Neon DB secret:
DATABASE_URL="postgresql://neondb?sslmode=require&channel_binding=require"

# JWT configuration
JWT_SECRET="***********************"
JWT_EXPIRES_IN="1d"

# seed an ADMIN user
ADMIN_EMAIL="****@gmail.com"
ADMIN_PASSWORD="**********"

CLIENT_URL="https://devhuntrclient.vercel.app"

# Stripe
STRIPE_SECRET_KEY=sk_test
STRIPE_WEBHOOK_SECRET=whsec_